.tabs .tabs-list {
  display: flex;
  gap: 0.5ch;
  max-width: 100%;
  overflow-x: auto;
}

.tabs .tabs-list button {
  flex: 0 0 max-content;
  margin: 0;
  border: var(--border-width) solid var(--dark-color);
  border-radius: 0;
  padding: 0.5em 0.9em;
  background-color: var(--slate-100);
  color: var(--slate-700);
  font-weight: var(--weight-bold);
  font-size: var(--body-font-size-s);
  line-height: unset;
  text-align: initial;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color var(--duration-fast) var(--ease-standard);
}

.tabs .tabs-list button p {
  margin: 0;
}

.tabs .tabs-list button[aria-selected='true'] {
  position: relative;
  z-index: 1;
  border-bottom-color: var(--background-color);
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: default;
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: var(--gutter);
  border: var(--border-width) solid var(--dark-color);
  background-color: var(--background-color);
  overflow: auto;
}

.tabs .tabs-panel pre {
  margin: 0;
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
